
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <body>
                    <div class="title-group mb-3">
                        <h1 class="h2 mb-0">Biz qanday yordam bera olamiz?</h1>
                    </div>

                    <div class="row my-4">
                        <div class="col-lg-7 col-12">
                           

                            <div class="custom-block custom-block-faq">
                                <h5 class="mb-4">Tez-tez so‘raladigan savollar</h5>

                                <strong class="d-block mb-2">Grant olish uchun kimlar ariza topshirishi mumkin?</strong>

                                <p>Oliy ta’lim muassasasida o‘qiyotgan va GPA (o‘rtacha o‘zlashtirish ko‘rsatkichi) 86 balldan yuqori bo‘lgan (4 ballik tizimda kamida 3,44) bakalavriat yoki magistratura talabalari ariza topshirishi mumkin.</p>
                                
                                <strong class="d-block mt-3 mb-2">Arizalar qanday topshiriladi?</strong>

                                <p>Arizalar faqat onlayn platforma orqali, belgilangan muddatda elektron shaklda qabul qilinadi. Ariza topshirishda shaxsiy ma’lumotlar, o‘qish natijalari va ijtimoiy faollikka oid hujjatlar kiritiladi.</p>

                                <strong class="d-block mt-3 mb-2">Ijtimoiy faollik qanday isbotlanadi?</strong>

                                <p>Talaba o‘zining ijtimoiy, madaniy, ilmiy yoki sport sohasidagi faolligini tasdiqlovchi hujjatlarni (sertifikat, faxriy yorliq, tavsiyanoma va h.k.) onlayn platformaga yuklashi shart. Ushbu hujjatlar asosida maxsus komissiya tomonidan ball qo‘yiladi.</p>

                                 <strong class="d-block mt-3 mb-2">Ariza rad etilishi mumkinmi?Ariza rad etilishi mumkinmi?</strong>

                                 <p>Ha, agar talabalar ariza berish uchun belgilangan talablarni bajarmasa yoki taqdim etilgan hujjatlar to‘liq bo‘lmasa, arizalar rad etilishi mumkin.</p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="custom-block custom-block-contact">
                                <h6 class="mb-4">Hali ham qidirayotgan narsangizni topa olmayapsizmi?</h6>

                                <p>
                                    <strong>Bizga qo'ng'iroq qiling:</strong>
                                    <p>+99899 744-43-58</p>
                                </p>

                                <a href="#" class="btn custom-btn custom-btn-bg-white mt-3">
                                    Chat with us
                                </a>
                            </div>
                        </div>
                    </div>

                
                </main>

            </div>
        </div>


    </body>
{% endblock %}